<div class="text-center bg-light py-4 mt-4 rounded pb-5 {% if include.inline %}col-md-5 offset-md-1{% endif %}">
  <div class="mb-4">
    <h5 title="Want to grab coffee or beer?">
      Want to grab ☕ or 🍺?
    </h5> 
    <p class="small">I'm always game to talk tech and investing.<br><span class="text-muted small">(especially consumer Fintech, AI, and crypto)</span></p>
  </div>
  <a class="btn btn-outline-primary email-me-btn" href="mailto:craig@craigsc.com?subject=Hi Craig" role="button" target="_blank">Email me</a>
</div>

