<div class="bg-light py-4 mt-4 rounded {% if include.inline %}col-md-5{% endif %}">
  <div class="mb-4 text-center">
    <h5 title="Interested in grabbing coffee or beer?">
      Join my Friends & Family list for early access to future projects.
    </h5> 
    <p class="small text-muted">No spam, promise.</p>
  </div>
  <!-- Begin MailChimp Signup Form -->
  <form action="https://craigsc.us2.list-manage.com/subscribe/post?u=d584b4fced9f4967f91d53307&amp;id=8162c63e89" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-email" target="_blank">
    <div class="row justify-content-center no-gutters">
      <div class="form-label-group col">
        <input type="email" value="" name="EMAIL" class="email form-control form-cotrol-sm" id="inputEmail" placeholder="Email address" required>
        <label for="inputEmail">Email address</label>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d584b4fced9f4967f91d53307_8162c63e89" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success">
    </div>
  </form>
  <!--End mc_embed_signup-->
</div>
