<div class="bg-light py-4 mt-4 rounded {% if include.inline %}col-md-5{% endif %}">
  <div class="mb-4 text-center">
    <h5 title="Interested in grabbing coffee or beer?">
      Join my Friends & Family list for early access to future projects.
    </h5> 
    <p class="small text-muted">No spam, promise.</p>
  </div>
  <form class="form-email">
    <div class="row justify-content-center no-gutters">
      <div class="form-label-group col">
        <input type="email" id="inputEmail" class="form-control form-control-sm" placeholder="Email address" required>
        <label for="inputEmail">Email address</label>
      </div>
      <button class="btn btn-success col-auto px-2" type="submit">Submit</button>
    </div>
  </form>
</div>
